body{
    font-family: 'Cairo';font-size: 22px;

margin: auto;
}

.dir
{
    direction: rtl;
}
.login {
    width: 90%;
    height: 20%;
    margin: center;
}
.login img {
    
    width: 40%;
    float: left;
}

.formlogin{
    float: right;
    width: 30%;
}
.formlogin button
{
    float: right;
    width: 60%;
    background-color: #27AC1F;
    
}

.login h1 h6{
    width: 60%;
    float: right;
}
.box {
    width: 90%;
    background-color:aquamarine;
}

.navbar {
    direction: rtl;
   padding: 0%;
    
  }

  .nav-item  {
    margin: auto;
  }

.mt{
    margin-top: 5% !important;

}
.m-1{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    
}
.m-3
{
    margin-top: 5% !important;
    width: 75%;
    margin: auto;

 
}
 /* .card-bord
 {
    /* border-radius:1%;
    background-color:#E4E4E4;
    overflow:auto;
    margin: auto;
    height: 40%;
    width: 90%; */


  
 .card-bord-button

 {
    margin: auto;
    background-color: #27AC1F;
 }
 .card-img-top
 {
    padding: 5px;
    border-radius: 50%;
    margin: auto;
    width: 30%;
    margin-top: -10%;
 }
 .card-title
 {
    color: #27AC1F;
    text-align: center;
 }
 .card-text
{
    direction: rtl;
}
.card-box
{
    background: #E4E4E4;
    border-radius: 20px;
  

}
 .reg{
    background-color: #27AC1F;
    border-radius: 20px;
    text-align: center;
 }


.slider
{
    width: 90%;
    margin: auto;
}
.slider-cource
{
    width: 70%;
    margin: auto;
}
.col{
    margin-bottom: 6%;

}
.card
{
    margin-bottom: 30%;
    border-radius: 27.6px;
    background-color: #F8F8F8;
    margin-top: -20%;
    

}

.card-w
{
    width: 80%;
    margin: auto;
}
.contener 
{
}
.card-button {
    background-color:#F8F8F8 ;
    float: right;
    border: none;
    color: #27AC1F;
}

.but-card
{
    background-color:#F8F8F8 ;
    float: left;
    border: none;
    color: #27AC1F;
}
.qustion 
{
    background-color:#27AC1F ;
    text-decoration: none;
    border-radius: 0;
    padding:1px 10px ;
}
 .qustion-box
 {
    background-color: #27AC1F1A;
 }

.footer {
    background-color: #12181E;
    direction: rtl;
    width: 100%;
    
}
.ovarflow{
    overflow-y:visible;
    margin-top: 25%;
    
}
 .collapse{
    margin: 3%;
 }

 .footer a:link 
 {
    text-decoration: none;
 }
 /* courses */

 .card-button-courses
 {
    text-align: center;
 }
 .card-button-courses button
 {
    background-color: #27AC1F;
    color: white;
    border-radius: 10px;
    border: 0;
 }

 /* end courses */
 /* contectus */
.contectus-form
{
    border-radius: 12.34px;
}
.contectus-form input{
    border-radius: 12.34px;
    background-color:#E4E4E4 ;
}
.contectus-form  textarea
{
    border-radius: 12.34px;
    background-color:#E4E4E4 ;
}
.contectus-form-but 
{
    width: 108.98px;
    color: white;
    background-color: #27AC1F;
    float: left;
    border-radius: 12.34px;
}

.ff
{
}

.contact-info

{
    float: right;
}


 /*contectus  */
.parent
{
    width: 80%;
}

.contectus-form
{
    float: right;
    width: 100%;
}
 /* about */
.text-bold
{
    font-weight: bold;
}
 /* end about */

 /* dashbord admin */

 .card-dashbord
 {
 }

 /* end dashbord */