
.login {
    width: 80%;
    height: 20%;
    margin: center;
}
.login img {
    
    width: 40%;
    float: left;
}

.formlogin{
    float: right;
    width: 30%;
}
.formlogin button
{
    float: right;
    width: 60%;
    background-color: green;
    
}

.login h1 h6{
    width: 60%;
    float: right;
}
.box {
    width: 80%;
    background-color:aquamarine;
}

.navbar {
    direction: rtl;
    /* width: 100%;
    background-color: black;
    padding: 10px;
    float: right; */
    
  }

  .nav-item  {
    padding-left: 90px;
    margin-left: 70px;

    
  }

.mt{
    margin-top: 5% !important;

}
 .card-bord
 {
    border-radius:30%;
    background-color:azure;
 }
 .card-bord-button

 {
    margin: auto;
    background-color: green;
 }
 .card-img-top
 {
    padding: 5px;
    border-radius: 50%;
    margin: auto;
    width: 30%;
 }
 .card-title
 {
    color: green;
    text-align: center;
 }
 .card-text
{
    direction: rtl;
}
 .reg{
    background-color: green;
    border-radius: 20px;
    text-align: center;
 }
.reg a:link
{
   color: red;
}



.slider
{
    width: 75%;
    height: 50%;
    margin: auto;
}
.card
{
    width: 25%;
    margin: 5%;
}
.card button {

    background-color: green;
    float: right;
    border: none;
    color: white;
    border-radius: 20px;
}