@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap");
body {
    font-family: "Cairo", sans-serif;
    margin: auto;
}

.dir {
    direction: rtl;
}
.login {
    width: 90%;
    height: 20%;
    margin: center;
}
.login img {
    width: 40%;
    float: left;
}

.formlogin {
    float: right;
    width: 30%;
}
.formlogin button {
    float: right;
    width: 60%;
    background-color: #27ac1f;
}
.nav-link:active {
    background-color: yellow;
}
#login-nav {
    color: #27ac1f;
    text-decoration: underline;
    font-size: 14px;
    width: 108.17px;
    margin-right: 10%;
}
.login h1 h6 {
    width: 60%;
    float: right;
}
.box {
    width: 90%;
    background-color: aquamarine;
}

.navbar-home {
    direction: rtl;
    padding: 0%;
}

.nav-item-home {
    margin: auto;
}

.mt {
    margin-top: 2% !important;
}
.m-1 {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}
.m-3 {
    margin-top: 2% !important;
    margin-bottom: 4% !important;
    width: 85%;
    margin: auto;
}
/* .card-bord
 {
    /* border-radius:1%;
    background-color:#E4E4E4;
    overflow:auto;
    margin: auto;
    height: 40%;
    width: 90%; */

.btn-slider {
}
.card-bord-button {
    margin: auto;
    background-color: #27ac1f;
}
.card-img-top-home {
    padding: 5px;
    border-radius: 50%;
    margin: auto;
    width: 30%;
    margin-top: -10%;
}
.card-title-home {
    color: #27ac1f;
    text-align: center;
}
.card-text-home {
    direction: rtl;
    margin-top: 2% !important;
    margin-bottom: 3% !important;
}
.card-box-home {
    background: #e4e4e4;
    border-radius: 20px;
}
.card-btn-allcourse {
    text-align: center;
    padding-bottom: 50px;
}

.img-slider-teacher {
    width: 80%;
    margin: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: #27ac1f;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 3px solid #27ac1f;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: "→";
    font-size: 25px;
    color: #27ac1f;
}

.carousel-control-prev-icon:after {
    content: "←";
    font-size: 25px;
    color: #27ac1f;
}
.btn-allcourse {
    background-color: #27ac1f;
    border-radius: 70px;
    border: none;
    color: white;
    padding: 0px;
    font-size: 24px;
    text-align: center;
    width: 180px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.button1 {
    background-color: #27ac1f;
    border-radius: 70px;
    border: none;
    text-align: center;
    color: white;
    padding: 0px;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.regester {
    margin-top: 40%;
    color: white;
}

.reg {
    background-color: #27ac1f;
    border-radius: 13.52px;
    width: 108.17px;
    text-align: center;
    height: 38px;
    font-size: 18px;
    padding: 5px;
}

.slider {
    width: 85%;
    margin: auto;
}
.slider-cource {
    width: 70%;
    margin: auto;
    margin-bottom: 4%;
}
.col {
    margin-bottom: 6%;
}
#card-home {
    margin-bottom: 25%;
    border-radius: 10.64px;
    background-color: #f8f8f8;
    margin-top: -20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-w {
    width: 80%;
    margin: auto;
}
.contener {
}
.card-button {
    background-color: #f8f8f8;
    float: right;
    border: none;
    color: #27ac1f;
}

.but-card {
    background-color: #f8f8f8;
    float: left;
    border: none;
    color: #27ac1f;
}
.qustion {
    background-color: #27ac1f;
    text-decoration: none;
    border-radius: 0;
    padding: 1px 10px;
}
.qustion-text {
    font-weight: bolder;
}
.qustion-box {
    background-color: #27ac1f1a;
    padding: 10px;
    width: 80%;
}

.footer {
    background-color: #12181e;
    direction: rtl;
    width: 100%;
}
.special {
    background-color: red;
}
.ovarflow {
    overflow-y: visible;
    margin-top: 25%;
}
.collapse {
    margin: 3%;
}

.footer a:link {
    text-decoration: none;
}
/* courses */

.imgcountactus {
    width: 100%;
}
.mrrr {
    width: 10%;
}
.card-button-courses {
    text-align: center;
}
/* .card-button-courses button
 {
    background-color: #27AC1F;
    color: white;
    border-radius: 10px;
    border: 0;
 } */

/* end courses */
/* contectus */
.contectus-form {
    border-radius: 12.34px;
}
.contectus-form input {
    border-radius: 12.34px;
    background-color: #e4e4e4;
}
.contectus-form textarea {
    border-radius: 12.34px;
    background-color: #e4e4e4;
}
.contectus-form-but {
    width: 108.98px;
    color: white;
    background-color: #27ac1f;
    float: left;
    border-radius: 12.34px;
}

#butcour {
    margin-left: 2%;
}

.contact-info {
    float: right;
}

/* dashbord */
#user-dashbord {
    margin-right: 5%;
    margin-left: 15%;
}
#box-dashbord {
    width: 90%;
    display: inline-flex;
    direction: rtl;
    background-color: #12181e;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3%;
}
#box-dashbord div {
    margin: auto;
    margin-top: 2%;
}
.img-dashbord {
    float: right;
    margin-top: 2%;
    width: 214px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid #88ab8e;
}

.user_name {
    color: #85fe78;
    float: right;
    margin-top: 2%;
}
.information-dashbord {
    color: white;
    display: inline-block;
    margin-top: 2%;
}
.link-edit {
    display: inline-block;
    color: white;
    margin-bottom: 15%;
}
#information-dashbord1 {
    margin-top: 2%;
}
.edit-dahbord {
    color: #85fe78;
    float: right;
    margin-top: 2%;
}
.edit-dahbord a {
    color: white;
}

.edit-user-profile {
    width: 75%;
    margin: auto;
}
.form-edit-user-profile {
    width: 80%;
}
.form-edit-user-profile input {
    border: 3px solid #88ab8e;
    margin-top: 1%;
}
.btn-back-user {
    width: 80px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.btn-password-update-user {
    width: 150px;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.btn-submit-user {
    margin-top: 3%;
    margin-bottom: 3%;
}
/* end dashbord */
/*contectus  */
.parent {
    width: 80%;
}
.qustion1 {
    margin-right: 8% !important;
}
.contectus-form {
    float: right;
    width: 100%;
}
/* about */
.about-icon {
}
.text-bold {
    font-weight: bold;
}
.vision {
    margin-right: 5%;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}
.mission {
    margin-right: 5%;
    margin-top: 5% !important;
}

/* end about */

/* sliders */
.img-slider {
    width: 90%;
    height: 20%;
}
/* end slider */
/* dashbord admin */
/* connectus */
.table-admin-connectus {
    width: 90%;
    margin-top: 5%;
}
.thead-green-connectus {
    background-color: #88ab8e;
}
.table-admin-connectus th {
    color: #f2f1eb;
    font-weight: bold;
}
.table-admin-connectus td,
th {
    border: 3px solid #88ab8e;
    text-align: left;
    padding: 8px;
    text-align: right;
    max-width: 18%;
}
.tdnamecontectus {
    font-weight: bold;
    width: 18%;
}

/* end connectus */
/* about */

.btnaboutadd {
    margin-top: 5%;
    font-weight: bold;
    background-color: #88ab8e;
}

.formaddm {
    margin-top: 5%;
    width: 80%;
}
.formaddm input {
    border: 3px solid #88ab8e;
}
.formaddmtextarea {
    border: 3px solid #88ab8e;
}
.inputtitelmistion {
    font-weight: bold;
    font-size: 40px;
}

.editvistion {
    padding: 10px;
    line-height: 58px;
}

/* end about */
.editdelete {
    margin: auto;
    margin: 4px;
    width: 100%;
}

/* end dashbord */

/* front course */
.namebranch {
    background: rgb(39, 172, 31, 0.3);
    width: 223.5px;
    height: 50.45px;
    border-top-left-radius: 12.77px;
    border-bottom-left-radius: 12.77px;
    float: right;
}

.namebranch-text {
    color: #000;
    text-align: center;
    font-weight: bold;
}
.namecourse {
    background: rgb(39, 172, 31, 0.3);
    width: 471.71px;
    height: 50.45px;
    border-top-left-radius: 12.77px;
    border-bottom-left-radius: 12.77px;
    float: right;
}
/*  */

/* ditaels courese */
.box-ditalescourse {
    width: 100%;
    display: inline-flex;
    direction: rtl;
    background-color: #12181e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
    /* margin-bottom: 1%; */
}
.box-ditalescourse .column1 {
    width: 80%;
    /* margin-right: 5%; */
}
.coursedetales {
    margin-right: 5%;
}

.coursename {
    margin-right: 10%;
}
.namecours-detales {
    /* margin-right: 15%; */
    font-size: 42px;
}

.btncouresdetales {
    margin-left: 10%;
    width: 140px;
    height: 38px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #27ac1f;
}
.namecource {
    width: 80%;
}
.inputorder {
    width: 270.35px;
    height: 39px;
    border-radius: 10px;
    background-color: #12181e;
    border: 1px solid white;
    color: white;
    margin-left: 2%;
}
.btnsubmitorder {
    width: 88.48px;
    height: 38px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #27ac1f;
}
.nameteacher-detales p {
    font-size: 18px;
    color: white;
}

.column2 {
    width: 20%;
    margin-left: 15%;
}

.styledetales {
    width: 80%;
}
.navbarcourse {
    width: 90%;
}
.navbarcourse li {
    margin-left: 90px;
    margin-right: 80px;
}

.ditelspage {
    margin: auto;
    width: 70%;
    /* margin-right: 10%; */
    margin-bottom: 5%;
}
.imgtatecher {
    float: right;
    margin-top: 2%;
    width: 150.23px;
    height: 150.23px;
}
.sdwd {
    margin-top: 3%;
}
.teatcherditels {
    margin-right: 5%;
}
.ditelspageinsaid {
    margin: auto;
    /* width: 80%; */
    margin-top: 2%;
    /* margin-right: 3%; */
}
.boxditales {
    margin: auto;
    width: 105%;
    border-radius: 12.18px;
    border: 0.61px solid #000;
}
.boxcolabss {
    /* border-radius: 12.18px; */
    padding: 2%;
    margin-right: 0%;
    /* border-top:  0.61px solid #000; */
    border-bottom: 0.61px solid #000;
}
.collabs-box {
    margin-right: 3%;
}
#collabs-box-inside {
    margin-left: 10%;
    width: 100%;
    /* border-bottom:  0.61px solid #000;  */
}
.card-body {
    border-radius: 0%;
    margin: 0%;
}

.card {
    border-radius: 0%;
}
.collapse {
    margin: 0%;
}
.ditelsco {
    margin-right: 15%;
}
.firestrecord {
    border-radius: 0%;
    margin: 0%;
    margin-right: 16%;
    border-radius: 0%;
}
.chabternamecollabs {
    margin-right: 5%;
}
#countleeson {
    direction: rtl;
    float: left;
}
.dandermasseg {
    margin-right: 30%;
}
/*  */
