@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .navbarshow {
        width: 1000px;
    }
    .buttonshow {
        font-size: 75%;
    }
    .sidbarshowcourse {
        width: 90%;
        margin: auto;
        border: 1px solid #000;
        border-radius: 20px;
        /* border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; */
        direction: rtl;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #countleeson {
        font-size: 62.5%;
        padding: 0%;
    }
    .regester-model {
        color: #27ac1f;
        text-decoration: underline;
        font-size: 14px;
        width: 230px;
        align-items: center;
        margin: auto;
        text-align: center;
    }
    .font18px {
        font-size: 3.5vw;
        font-weight: 700;
    }

    .font48px {
        font-size: 6vw;
        font-weight: 700;
    }
    .font14px {
        font-size: 3vw;
        font-weight: 500;
    }
    .mt100px {
        margin-top: 50px;
    }
    .card-w {
        width: 90%;
        margin: auto;
    }
    .ovarflow {
        overflow-y: visible;
        margin-top: 30%;
    }
    .card-btn-allcourse {
        text-align: center;
        padding-bottom: 30px;
    }
    .btn-allcourse {
        background-color: #27ac1f;
        border-radius: 70px;
        border: none;
        color: white;
        padding: 0px;
        font-size: 18px;
        text-align: center;
        width: 25vw;
        height: 40px;
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .card-box-home {
        background: #e4e4e4;
        border-radius: 15px;
    }
    .font24px {
        font-size: 18px;
        font-weight: 700;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 25px;
        width: 25px;
        outline: #27ac1f;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 3px solid #27ac1f;
        background-image: none;
    }

    .carousel-control-next-icon:after {
        content: "❯";
        font-size: 12px;
        color: #27ac1f;
        margin: auto;
    }

    .carousel-control-prev-icon:after {
        content: "❮";
        font-size: 12px;
        color: #27ac1f;
        margin: auto;
    }
    .img-about {
        margin: auto;
        width: 70vw;
        height: 80vw;
        float: left;
    }
    #shapetetcher1 {
        width: 20px;
        margin-top: -20px;
        float: right;
        margin-right: 5%;
    }
    #shapetetcher2 {
        width: 20px;
        margin-top: -20px;
        float: left;
        margin-left: 5%;
    }
    #card-home {
        border-radius: 10.64px;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        max-width: 90vw;
        height: 100%;
        max-height: 75.6125vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5vw;
        margin-bottom: 9vw;
    }
    .button2 {
        background-color: #27ac1f;
        border-radius: 70px;
        border: none;
        text-align: center;
        color: white;
        padding: 0px;
        width: 10.292vw;
        height: 3.083vw;
        margin-bottom: 20px;
        font-size: 1.25vw;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .font55px {
        font-size: 9vw;
        font-weight: 700;
    }
    .font20px {
        font-size: 14px;
        font-weight: 700;
        text-align: justify;
    }
    .homepage {
        padding: 0px;
    }

    .font42px {
        font-size: 24px;
        font-weight: 700;
    }
    .font32px {
        font-size: 20px;
        font-weight: 700;
    }
    .btnhome {
        width: 120px;
        height: 35px;
        background-color: #27ac1f;
        color: white;
        border-radius: 20px;
    }

    .contectusdet {
        float: right;
        color: #212529;
        font-family: Cairo;
        font-size: 14.4px;
        grid-area: auto;
        margin: auto;
        line-height: 23.04px;
    }
    .btncouresdetales {
        margin-left: 10%;
        width: 180px;
        height: 38px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #27ac1f;
        margin-bottom: 2%;
    }
    .inputorder {
        width: 180px;
        height: 39px;
        border-radius: 10px;
        background-color: #12181e;
        border: 1px solid white;
        color: white;
        margin-left: 2%;
    }
    .btnsubmitorder {
        width: 88.48px;
        height: 38px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #27ac1f;
    }
    .imgditels {
        width: 90vw;
        height: 87vw;
        position: absolute;
        bottom: 0px;
    }

    .column2 {
        position: relative;
    }
    .btncouresdetaless {
        margin: auto;
        margin-top: 10%;
        width: 140px;
        height: 38px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #27ac1f;
    }
    .imgtatecher {
        margin: auto;
        margin-top: 2%;
        width: 150.23px;
        height: 150.23px;
    }
    .nametetcher {
        color: #27ac1f;
        text-align: center;
        margin-top: 1%;
    }
    #shapetetcher3 {
        width: 30px;
        margin-top: -9%;
        float: left;
        margin-left: 5%;
    }
    .butcoresscore {
        width: 130.48px;
        height: 38px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: #27ac1f;
    }
    .qustion-box {
        background-color: #27ac1f1a;
        padding: 10px;
        width: 90%;
        margin-bottom: 20%;
    }
    .aboutalpha {
        text-align: justify;
        width: 100%;
        margin-top: 10%;
    }
    .contact-img {
        margin: auto;
        width: 60vw;
        height: 58vw;
        margin-top: 5vw;
        margin-bottom: 2vw;
    }
    .marginauto {
        margin-left: 15%;
        margin-right: 15%;
    }
    .mr-2 {
        margin-right: 6%;
    }
    .box-ditalescourse {
        width: 100%;
        display: inline-flex;
        direction: rtl;
        background-color: #12181e;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: auto;
        height: 240vw;

        /* margin-bottom: 1%; */
    }
    #card-profile {
        margin-bottom: 25%;
        margin: 0;
        padding: 0;
        border-radius: 10.64px;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .colcard {
        margin-bottom: 20%;
    }
    .img-home {
        width: 67.895vw;
        height: 72.7075vw;
    }
    .slider-cource {
        width: 100%;
        height: 50vw;
        margin: auto;
        margin-bottom: 4%;
    }
    .button1 {
        background-color: #27ac1f;
        border-radius: 70px;
        border: none;
        text-align: center;
        color: white;
        padding: 0px;
        width: 28vw;
        height: 8.2075vw;
        margin-bottom: 20px;
        font-size: 4vw;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    #card-home-coures {
        border-radius: 10.64px;
        background-color: #f8f8f8;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        max-width: 80vw;
        height: 100%;
        max-height: 80.6125vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5vw;
        margin-bottom: 9vw;
    }
    .button2 {
        background-color: #27ac1f;
        border-radius: 70px;
        border: none;
        text-align: center;
        color: white;
        padding: 0px;
        width: 25.292vw;
        height: 7.083vw;
        margin-bottom: 20px;
        font-size: 3vw;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .img-slider-teacher {
        width: 70%;
        height: 100vw;
        margin-right: auto;
        margin-left: auto;
    }
    .namecourse {
        background: rgb(39, 172, 31, 0.3);
        width: 350px;
        height: 50.45px;
        border-top-left-radius: 12.77px;
        border-bottom-left-radius: 12.77px;
        float: right;
        margin-top: 3%;
    }
}
